# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
static/admin/*.bundle.*
.DS_Store
yarn-error.log
admin/
.dependabot/
.github/
.idea/
netlify/
src/
static
_headers
CODE_OF_CONDUCT.md
CONTRIBUTING.md
gatsby-config.js
gatsbu-node.js
LICENSE
netlify.toml
package.json
package-lock.json
PULL-REQUEST-TEMPLATE.md
README.md
renovate.json
yarn.lock

